@import "tailwindcss";

/* ประกาศตัวแปรไว้ใน theme เพื่อให้ Tailwind สร้าง class ให้โดยอัตโนมัติ */
@theme {
  --color-background: oklch(0.9705 0.0142 254.6);
  --color-foreground: oklch(0.145 0 0);
  --color-primary: oklch(0.5506 0.248713 261.6733);
  --color-input: oklch(0.7107 0.0351 256.79);
  --color-border: oklch(0.9007 0.0203 257.47);
  --color-ring: oklch(0.704 0.04 256.788);
  --color-secondary: oklch(0.2792 0.0748 261.88);
  --color-dropdown: oklch(98.14% 0.0006 253.6);
  --color-menu: oklch(0.4017 0 0);
  --color-myblone: oklch(0.4322 0.0013 17.21);
  --text-xxs: 9px;
  --width-card-size: 688px;
  --box-shadow-lg: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
}

/* ใช้สำหรับ HTML tag เช่น h1, h2 เป็นต้น */
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply text-foreground bg-background;
  }
}

@layer utilities {
  .container {
    @apply bg-background m-0 max-w-full overflow-hidden min-h-screen;
  }
  .card-login {
    @apply grid grid-cols-2 gap-4 p-10 rounded-4xl;
  }
  .form-login {
    @apply flex flex-col gap-6;
  }
  .input-box{
    @apply grid grid-rows-2 md:w-full px-5 gap-3;
  }
  .input-login {
    @apply text-sm placeholder:text-sm bg-white rounded-lg focus:border-primary focus:ring-2 focus:ring-ring;
  }
  .button-login {
    @apply py-3 my-2 text-white font-medium rounded-lg cursor-pointer;
  }

  .card-register {
    @apply p-7 md:p-10 rounded-3xl md:rounded-4xl bg-white max-w-[85%] w-full md:max-w-[688px] shadow-lg place-self-center;
  }
  .form-register {
    @apply grid grid-cols-2 gap-y-5 md:gap-y-7 md:px-6 text-center;
  }
  .input-register {
    @apply flex flex-col px-2 md:px-5 gap-3 text-left col-span-2
  }
  .input-box-register {
    @apply w-full border text-xs p-2 md:text-sm md:p-4 bg-white rounded-lg focus:border-primary ;
  }
  .input-error {
    @apply border-red-500 focus:border-red-500 focus:ring-red-500;
  }
  .password-check {
    @apply text-left text-xxs md:px-2 md:text-xs text-red-500
  }

  .error-text {
    @apply text-xxs m-1 md:text-xs text-red-500 md:m-1.5;
  }  
  .login-error-text {
    @apply text-xxs md:text-xs text-red-500 ;
  }  
  
  .signin-google {
    @apply w-full border flex items-center justify-center py-3 text-foreground text-xs md:text-base font-medium rounded-lg gap-1 sm:gap-2 hover:bg-primary/90
  }

  .navbar {
    @apply  top-0 z-100 max-w-full bg-white/30 backdrop-blur-lg backdrop-brightness-150 p-6 gap-x-52;
  }
  .navbar-card {
    @apply hidden lg:flex max-w-7xl mx-auto w-full justify-between items-center;
  }
  .navbar-item {
    @apply  text-xl hover:text-primary focus:ring-2 focus:ring-ring;
  }
  .hiden-item {
    @apply hidden lg:flex self-center place-content-center;
  }
  .mobile-menu-icon {
    @apply lg:hidden flex items-center max-w-full place-content-between mx-8
  }
  .link_dropbox {
    @apply block rounded-lg text-base mt-5 transition-transform duration-300 hover:translate-x-[5%]
  }
  .text_dropbox {
    @apply text-lg mb-3 text-menu
  }

  .base-alert {
    /* @apply fixed z-50 top-6 self-center md:top-8 md:right-10 md:left-auto md:w-[360px] rounded-xl px-4 py-3 shadow-lg flex gap-5 items-start place-content-center; */
    @apply absolute top-8 z-50 md:w-[360px] place-self-center rounded-xl px-4 py-3 shadow-lg flex md:gap-5 gap-3;
  }
  .werning-alert {
    @apply bg-yellow-100 text-yellow-800
  }
  .footer {
    @apply h-5 lg:h-7 w-32 object-contain mx-5 lg:mx-8
  }  
  .footer_position {
    @apply items-center max-w-[90%] mx-auto place-content-between mt-11
  }

  .information-box {
    @apply flex bg-white rounded-lg px-4 py-4.5 shadow-md place-content-between
  }
  .information-topic {
    @apply text-sm lg:text-base text-myblone
  }
  .information-text {
    @apply  text-secondary font-semibold text-base lg:text-lg place-self-center text-center
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes dropbox-open {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes dropbox-close {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}
.animate-dropbox-open {
  animation: dropbox-open 0.3s ease-out forwards;
}
.animate-dropbox-close {
  animation: dropbox-close 0.1s ease-in forwards;
}